@font-face {
    font-family: 'Shabnam';
    src: url('../assets/font-persian/font-shabnam/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
* {
    direction: rtl;
    font-family: 'Shabnam', sans-serif;
}

img {
    user-select: none;
    /* width: 100% !important; */
}

button {
    cursor: pointer;
}

input {
    direction: ltr !important;
}

#fildCall input::placeholder {
    font-size: 1rem;
    color: rgb(172, 172, 172);
}



/* _________footer__________ */
.footer {
    background-image: url("../assets/img\(3\)/Vector 1.png");
}




@media screen and (min-width : 640px) {
    /* tablet */

}

@media screen and (min-width : 768px) {

    /* laptop */
    .footer {
        background-image: url("../assets/img\(3\)/Vector 2.png");
    }
}

@media screen and (min-width : 1024px) {
    /* smPc */

}

@media screen and (min-width : 1280px) {
    /* pc */

}