
/* _____________________scroll x__________________ */

.scrollX::-webkit-scrollbar {
    height: 0.7rem;
    cursor: pointer;
}

.scrollX::-webkit-scrollbar-track {
    outline: 2px solid #ffe9e0;
    background-color: #FFF8F5;
    border-radius: 13rem;
    cursor: pointer;
}

.scrollX::-webkit-scrollbar-thumb {
    border-radius: 13rem;
    border: 1px solid white;
    background-color: rgb(234, 172, 139);
    box-shadow: none;
    cursor: pointer;
}

.scrollX::-webkit-scrollbar-button {
    width: calc(40% - 110px);
}




/* <!-- _________tabNogation___________ --> */
.content {
    display: none;
}

.tabNogation input#vizegiElem:checked~.labels .activeSlide {
    width: 22%;
    right: 42%;
}

.tabNogation input#commentElem:checked~.labels .activeSlide {
    width: 18%;
    right: 73%;
}

.tabNogation input#aboutElem:checked~.labels .aboutElem {
    font-weight: 700;
    color: #000;
}

.tabNogation input#vizegiElem:checked~.labels .vizegiElem {
    font-weight: 700;
    color: #000;
}

.tabNogation input#commentElem:checked~.labels .commentElem {
    font-weight: 700;
    color: #000;
}

.tabNogation input#aboutElem:checked~.contentTabs .contentAbout {
    display: flex;
}

.tabNogation input#vizegiElem:checked~.contentTabs .contentVizegi {
    display: flex;
}

.tabNogation input#commentElem:checked~.contentTabs .contentComment {
    display: flex;
}





@media screen and (min-width : 640px) {
    /* tablet */

}

@media screen and (min-width : 768px) {
    /* laptop */

    /* <!-- ______tabNogation_________ --> */
    .tabNogation input#vizegiElem:checked~.labels .activeSlide {
        width: 22%;
        right: 41%;
    }

    .tabNogation input#commentElem:checked~.labels .activeSlide {
        width: 15%;
        right: 82%;
    }



}

@media screen and (min-width : 1024px) {
    /* smPc */


}

@media screen and (min-width : 1280px) {
    /* pc */
    .tabNogation input#vizegiElem:checked~.labels .activeSlide {
        width: 15%;
        right: 44%;
    }

    .tabNogation input#commentElem:checked~.labels .activeSlide {
        width: 12%;
        right: 86%;
    }

}